@import "tailwindcss";

body {
  color: white;
  background-color: rgb(3, 3, 13);
  font-family: Geist;
}

button {
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}
