@import "tailwindcss";

body {
  color: white;
  background: rgb(27, 28, 227);
  background: linear-gradient(261deg, rgb(17, 1, 41) 0%, rgba(0, 10, 19, 1) 46%, rgb(19, 1, 0) 100%);
  font-family: Geist;
}

button {
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}
